{% extends "page.html" %}

{% block body %}
  <form enctype="multipart/form-data" id="spawn_form" action="{{url}}" method="post" role="form">

    <div class="row no-gutters">
      {% for example_name, info in examples.items() %}
        <div class="col-md-4" style="height: 400px; padding: 16px;">
          <input type="radio" name="example" id="example-{{example_name}}" value="{{example_name}}" class="d-none"/>
          <div class="gallery-item"> 
            <div class="launch-item"
                 style="height: 90%; padding: 8px;"
                 id="example-{{example_name}}"
                 value="{{example_name}}"
                 data-example-name="{{example_name}}">
              <img style="height: 60%; width: 100%; object-fit: contain;" src="{{info.image_url}}" />
              <div style="height: 40%; overflow: hidden;">
                <h4 style="margin-top: .5rem; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ info.title }}</h4>
                <p>{{ info.description }}</p>
              </div>
            </div>
            <div style="height: 10%;">
              <a style="height: 100%; width: 100%; color: #333;" href="{{info.repo_url}}" target="_blank" type="button" class="btn btn-light">Source</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </form>

{% endblock %}
