/* Main page areas */

.voila-white {
    background: white;
    color: #222;
    padding: 20px;
}

.voila-white a {
    color: #ddd;
}

.voila-white a:hover {
    color: #eee;
}

.voila-blue {
    background: #5dbcaf;
    color: white;
    padding: 20px;
}

.voila-blue a {
    color: #ddd;
}

.voila-blue a:hover {
    color: #eee;
}

/* Table */

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.gallery-item {
  height: 100%;
  box-shadow: 4px 4px 12px #aaa;
  user-select: none;
}

.gallery-item:hover {
  box-shadow: none;
  cursor: pointer;
}

