# Template file for building the Docker images
[Unit]
After=jupyterhub.service

[Service]
User=root
Restart=always
ProtectHome=tmpfs
WorkingDirectory=/opt/tljh
# Protect bits that are normally shared across the system
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ExecStart={python_interpreter_path} -m tljh_voila_gallery.build_images

[Install]
WantedBy=multi-user.target
