[Unit]
Description="Build the Docker images for the Voila Gallery Examples"

[Timer]
OnBootSec=1min
OnUnitActiveSec=12h
Unit=tljh-voila-gallery-builder.service

[Install]
WantedBy=multi-user.target
