# Template file for building the Docker images
[Unit]
After=jupyterhub.service

[Service]
User=root
Restart=no
ProtectHome=tmpfs
# Protect bits that are normally shared across the system
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
# Update with the new gallery
ExecStartPre={python_interpreter_path} -m pip install -U {gallery_repo}
# Build the new Docker images
ExecStart={python_interpreter_path} -m tljh_voila_gallery.build_images

[Install]
WantedBy=multi-user.target
